body {
    background-color: #e4f0f2;
}

.home {
    display: flex;
    justify-content: center; 
    text-align: center;
    padding-top: 10%;
}

.form {
    display: flex;
    gap: 10px;
}

.input {
    height: 25px;
    border: none;
    border-radius: 3px;
}

.button {
    background-color: rgb(10, 181, 10);
    color: white;
    border: none;
    border-radius: 3px;
}

.cards {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
}